* {
    margin: 0px;
}
body {
    background-color: white;

}
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
#container {
        width: 1550px;
        height: 60px;
        background-color: black;

}
li {
    display: inline;
    color: white;
    font-family: 'Playball', cursive;

}
#first {
    position: relative;
    top: 20px;
    left: ;
    font-size: 30px;
}
#second {
    position: relative;
    top: 20px;
    left: 50px;
    font-size: 30px;
    bottom: 10px;
}
#third {
    position: relative;
    top: 20px;
    left: 80px;
    font-size: 30px;
    bottom: 10px;


}
#fourth {
    position: relative;
    top: 20px;
    left: 140px;
    font-size: 30px;
    bottom: 10px;
}
#five {
    position: relative;
    top: 20px;
    left: 200px;
    font-size: 30px;
    bottom: 10px;
}
#six {
    position: relative;
    top: 20px;
    left: 230px;
    font-size: 30px;
    bottom: 10px;
}
#bottom:hover {
    cursor: pointer;
    color: ;
}
#first:hover {
    cursor: pointer;
    color: #949087;
    /* font-size: 30px; */

}
#second:hover {
    cursor: pointer;
    color: #949087;
    /* font-size: 30px; */

}
#third:hover {
    cursor: pointer;
    color: #949087;

    
}
#fourth:hover {
    cursor: pointer;
    color: #949087;
}
#five:hover  {
    cursor: pointer;
    color: #949087;
}
#six:hover {
    cursor: pointer;
    color: #949087;}

#bottom {
    position:  relative;
    bottom: 13px;
}
#download {
    border-radius: 3px;
    border: 0px;
    background-color: yellow;
    color: black;
    padding: 9px 20px 9px 20px;
    position: relative;
    left: 1370px;
    bottom: 30px;
}
#download:hover {
    cursor: pointer;
    background-color: #f76a78;
   }
    #search  {
        padding: 6px 12px 6px 12px;
        border: 0px;
        border-radius: 4px;
        width: 150px;
        position: relative;
        left: 1040px;
        bottom: 27px;
    }
    #search:hover {
        background-color: #e6dcdd;}
    